.c-nd-box {
  min-width: 200px;

  background: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 3px;

  display: flex;
  flex-direction: column;

  opacity: 0;
  pointer-events: none;

  transform: translate3d(0, 0, 0);
  will-change: opacity, transform;
  transition: opacity 200ms;

  touch-action: none;
  overflow: auto;
}

.c-nd-box[data-visible] {
  opacity: 1;
  pointer-events: auto;
}

.c-nd-box[data-translate="-1 0"] {
  transform: translate(-100%, 0);
}

.c-nd-box[data-translate="0 -1"] {
  transform: translate(0, -100%);
}

.c-nd-box[data-translate="-1 -1"] {
  transform: translate(-100%, -100%);
}

.c-nd-box[data-type="absolute"] {
  position: absolute;
}

.c-nd-box[data-type="fixed"] {
  position: fixed;
  /* Reasonable big z-index */
  z-index: 10;
}

/* Requires surrounding relative element */
.c-nd-box[data-type="inline"] {
  position: absolute;
}

.c-nd-link {
  font-size: 15px;

  padding: 4px 18px;
  display: flex;
  align-items: center;
  height: 46px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  flex-shrink: 0;
}

.c-nd-link[data-selected] {
  color: #38679e;
}

.c-nd-link[data-hover] {
  background-color: #f5f7fb;
}

/* Fix Firefox forced background */

.c-nd-link:focus,
.c-nd-link:active {
  background: none !important;
}

.c-nd-link[data-hover]:focus,
.c-nd-link[data-hover]:active {
  background: #f5f7fb !important;
}