/* IE10 snapmode fix */
@media screen and (-ms-view-state: snapped) {
  @-ms-viewport { width: device-width }
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  overflow: visible;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;

  color: #333;
  background: #eee;

  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, input, textarea, select, button {
  font-family: 'Roboto', 'Myriad Pro', 'Fira Sans', 'Droid Sans', 'Gill Sans Nova', 'Helvetica Neue', 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

* {
  user-select: none;
}


.user-selectable {
  user-select: auto;
}

/* Safari disables form elements with user-select: none; */
input, textarea, select, button {
  user-select: auto;
}

#app {
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
}

.app-header {
  background: #5181b8;
  height: 52px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateZ(0px);
  display: flex;
  align-items: center;
}

.app-content {
  box-sizing: border-box;
  width: 100%;
  padding-top: 52px;
  min-height: 100%;
  height: 100%;
}

.app-header__dropdown {
  margin-top: 3px;
}

.app-header__switcher {
  height: 100%;
  padding-left: 18px;
  margin-left: 46px;
  padding-right: 18px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  white-space: nowrap;
}

.app-header__switcher[data-hover] {
  background-color: #4572a5;
}

.app-header__inline-popup {
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: 8px;
}

.app-header__inline-popup-button {
  padding-right: 18px;
  padding-left: 18px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
}

.app-header__inline-popup-button[data-hover] {
  background-color: #4572a5;
}

.app-content__buttons-row {
  display: flex;
  justify-content: center;
}

.app-content__buttons-row button {
  font-size: 16px;
  padding: 8px 16px;
  margin: 0 12px;
  width: 90px;
}

.app-content__test1-target {
  background-color: #cacaca;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.app-content__sort-row {
  display: flex;
  justify-content: center;
}

.app-content__sort-wrap {
  position: relative;
}

.app-content__sort-button {
  font-size: 16px;
  padding: 8px 16px;
  margin: 0 12px;
}