<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VK test</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#0033dd">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="application-name" content="">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="theme-color" content="#ffffff">

    <link rel="preload" href="/main.js" as="script">
    <link rel="preload" href="/main.css" as="style" id="main-css">

    <style id="default-style">
      <%= require('boot/boot.css') %>
    </style>

    <script src="/main.js" defer></script>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div id="app">
      <div class="app-header" id="header">
        <div class="app-header__switcher" id="header-switcher"></div>
        <div class="app-header__inline-popup">
          <div class="app-header__inline-popup-button" id="inline-popup">
            [inline]
          </div>
        </div>
      </div>
      <div class="app-content" id="content">
        <div style="margin: 20px; height: 2000px; background: white">
          <div style="height: 200px"></div>

          <div class="app-content__test1-target" id="test1-target"></div>

          <div class="app-content__buttons-row" id="multi-test">
            <button type="button" data-trigger="bottom left">One</button>
            <button type="button" data-trigger="bottom right">Two</button>
            <button type="button" data-trigger="bottom left">Three</button>
          </div>

          <div style="height: 100px"></div>

          <div class="app-content__sort-row">
            <div class="app-content__sort-wrap">
              <button type="button" id="sort-button" class="app-content__sort-button">
                Sort
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>